@if (@TempData["Message"] != null)
{
  <div class="container w-75">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Info!</strong><h3>@TempData["Message"]</h3>
    </div>
  </div>
}
